@import '../../styles/variables';
@import '../../styles/mixins';

.home-banner {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    height: calc(100vw * 9 / 21);
    padding: 15px;

    @media all and (max-width: 940px){
        height: calc(100vw * 4 / 4);
    }

    &__image {
        z-index: 1;
    }

    &__subtitle {
        @include fontSize(20px);
        width: 100%;
        float: left;
        z-index: 2;
        text-align: left;
        color: #262626;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1.58em;
        letter-spacing: 4px;
    }

    &__title {
        @include fontSize(80px);
        width: 100%;
        float: left;
        z-index: 2;
        margin-top: 10px;

        text-align: left;
        color: #262626;
        font-weight: 700;
        line-height: 1em;

        @media all and (max-width: 940px){
            @include fontSize(34px);
        }
    }

    &__button {
        z-index: 2;
        color: #FFF;
        background-color: #262626;
        padding: 15px 25px;
        margin-top: 30px;
        letter-spacing: 0.9px;

        font-size: 0.95rem;
        font-weight: 600;
        line-height: 1em;

    }
}
