@import '../../styles/variables';
@import '../../styles/mixins';

.home-services {
    width: 100%;
    float: left;
    padding: 80px 0;
    @include setTheme(background-color, foreground-color2);

    &__title {
        @include fontSize(42px);
        @include setTheme(color, primary-color);
    }

    &__subtitle {
        @include fontSize(24px);
        @include setTheme(color, primary-color);
        font-weight: 400;
    }

    &__content {
        width: 100%;
        max-width: $container;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 15px;
    }

    &__item {}

    &__item-title {}

    &__item-text{}
}
