@import '../../styles/variables';
@import '../../styles/mixins';

.home-services {
    width: 100%;
    float: left;
    padding: 80px 0;
    @include setTheme(background-color, foreground-color2);

    &__title {
        @include fontSize(42px);
        @include setTheme(color, primary-color);
    }

    &__subtitle {
        @include fontSize(24px);
        @include setTheme(color, primary-color);
        font-weight: 400;
    }

    &__content {
        width: 100%;
        max-width: $container;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 15px;
    }

    &__container {
        width: 100%;
        float: left;
        margin-top: 45px;
        display: flex;
        overflow: auto;
        justify-content: space-between;

        @media all and (max-width: 939px) {
            justify-content: flex-start;
        }
    }

    &__item {
        width: 100%;
        float: left;
        max-width: calc(100% / 3 - 15px);
        border-radius: 6px;
        border: 1px solid #000;
        padding: 15px;

        @media all and (max-width: 939px) {
            max-width: 320px;
            min-width: calc(100% - 30px);
            &:not(:nth-child(1)) {
                margin-left: 10px;
            }
        }
    }
    &__item-image {
        width: 100%;
    }

    &__item-title {
        @include fontSize(24px);
        @include setTheme(color, primary-color);
        text-align: center;
        margin-top: 15px;
    }

    &__item-text{
        @include fontSize(18px);
        @include setTheme(color, primary-color);
        margin-top: 15px;
        line-height: 1.3;
    }
}
